.listagem {
    max-width: 200px;
}

.listagem .pokemon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: rgb(120, 126, 111);
    color: #fff;
    padding: 0 5px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 70px;
    transition: 0.15s ease-in-out;
}

.listagem .pokemon:hover {
    transform: scale(1.05);
}

.listagem .pokemon img {
    width: 25%;
    border-radius: 50%;
}

.listagem .pokemon span {
    padding-right: 5px;
}

.listagem .pokemon.ativo {
    background-color: indianred;
}